# Backend node, cache och temp
backend/node_modules/
backend/.cache/
backend/build/
backend/.tmp/
backend/public/

# Frontend node-modules och temp
frontend/node_modules/
frontend/public/
frontend/css/themes/
frontend/css/*.min.css
frontend/css/*.css.map


# Undvik mappar/filer i root
public/
.DS_Store
.env

# Extra – ignorera gamla mappar/experiment
book/
ducks-project/
