# node modules
node_modules/

# compiled CSS and sourcemaps
frontend/node_modules/
frontend/public/
frontend/css/themes/
frontend/css/*.min.css
frontend/css/*.css.map
css/*.css.map




# system and temp files
public/
.DS_Store
.env

# old/test projects
book/ducks-project/
ducks-project/
