*,
*::before,
*::after {
  box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

body, h1, h2, h3, h4, h5, p, ol, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

span {
  line-height: 80%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

input, textarea, select, button {
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
}

article {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}

.body-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main-wrapper {
  padding-bottom: 6rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

button {
  font-family: "Nunito", sans-serif !important;
}

.our-selection {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}
@media (min-width: 600px) {
  .our-selection {
    margin-top: 3rem;
    margin-left: 2.5rem;
    font-size: 2rem;
  }
}

p#welcome-text {
  display: flex;
  justify-self: center;
  font-size: 1.3rem;
}

#sort-select {
  border-radius: 8px;
  padding: 0.2rem;
}

.heart-btn {
  background: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.3rem;
  font-size: 1.3rem;
  transition: transform 0.3s ease;
}

.heart-btn:hover {
  transform: scale(1.1);
}

.theme-light {
  background-color: #efefeb;
  color: #1d1d1d;
}
.theme-light #auth-modal-btn {
  background: #ffffff;
  color: #000000;
  border: solid 1px rgba(155, 155, 155, 0.4392156863);
}
.theme-light #auth-modal-btn:hover, .theme-light #auth-modal-btn:focus {
  background: rgba(77, 77, 77, 0.9568627451) !important;
  color: #ffffff;
}
.theme-light .modal {
  background-color: rgba(154, 154, 154, 0.6784313725);
}
.theme-light .modal-content {
  background-color: #d7d7d7;
  border: 1px rgba(254, 254, 254, 0.2392156863) solid !important;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.2392156863);
}
.theme-light .close {
  color: rgba(40, 40, 40, 0.968627451);
}
.theme-light #auth-tabs .tab {
  border: none;
  background: none;
  color: #a5a5a5;
}
.theme-light #auth-tabs .tab.active {
  color: #000000;
  border-bottom: 2px solid #242424;
}
.theme-light .auth-form button {
  background: #fbfbfb !important;
  color: #000000;
  transition: background 0.2s;
}
.theme-light .auth-form button:hover, .theme-light .auth-form button:focus {
  background: #616161 !important;
  color: #ffffff;
}
@media (min-width: 600px) {
  .theme-light .body-wrapper {
    margin-top: 50px;
    border-radius: 50px 50px 0 0;
  }
}
.theme-light header body.light-theme #bookducks-logo-header {
  background-image: url("../assets/logo/bookducks-logo-black.svg");
}
.theme-light header #logout-btn {
  color: #292929;
  margin-top: 5rem;
  border: 1px solid rgba(0, 0, 0, 0.22);
  box-shadow: 1px 1.5px 2px 0.3px rgb(55, 55, 55);
  transition: background 0.2s;
}
.theme-light header #logout-btn:hover, .theme-light header #logout-btn:focus {
  background: #616161 !important;
  color: #ffffff;
}
.theme-light header h1 {
  color: #007182;
}
.theme-light header .show-reading-list-container {
  background-color: rgba(239, 239, 235, 0.7490196078);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
.theme-light header .show-reading-list-container #show-reading-list {
  background-color: #efefeb;
  color: #292929;
  margin-top: 5rem;
  border: 2px solid rgba(0, 0, 0, 0.22);
  box-shadow: 1px 1.5px 2px 0.3px rgb(55, 55, 55);
  transition: background 0.2s;
}
.theme-light header .show-reading-list-container #show-reading-list:hover, .theme-light header .show-reading-list-container #show-reading-list:focus {
  background: #616161 !important;
  color: #ffffff;
}
.theme-light #sort-select {
  margin-right: 2rem;
  border: #ababab solid 1px;
  padding: 0.2rem;
}
.theme-light .book-card-content {
  border-color: #555555;
}
.theme-light .heart-btn {
  background-color: transparent;
}
.theme-light footer {
  background-color: #92bbb6;
  color: #000000;
}

.theme-dark {
  background-color: #1d1d1d;
  color: #eee;
}
.theme-dark #auth-modal-btn {
  background: #ffbc20 !important;
  color: #000000;
}
.theme-dark #auth-modal-btn:hover, .theme-dark #auth-modal-btn:focus {
  background: #ffb300 !important;
  color: white;
}
.theme-dark .modal {
  background-color: rgba(25, 27, 28, 0.5882352941);
}
.theme-dark .modal-content {
  background-color: #191919;
  border: 1px rgba(249, 194, 67, 0.3607843137) solid !important;
  box-shadow: 0 4px 32px rgba(72, 72, 72, 0.0784313725);
}
.theme-dark .close {
  color: #f9c243;
}
.theme-dark #auth-tabs .tab {
  border: none;
  background: none;
  color: rgba(132, 132, 132, 0.9921568627);
}
.theme-dark #auth-tabs .tab.active {
  color: white;
  border-bottom: 2px solid #f9c243;
}
.theme-dark .auth-form button {
  background: #ffbc20 !important;
  color: #000000;
  transition: background 0.2s;
}
.theme-dark .auth-form button:hover, .theme-dark .auth-form button:focus {
  background: #ffb300 !important;
  color: white;
}
@media (min-width: 600px) {
  .theme-dark .body-wrapper {
    margin-top: 50px;
    border-radius: 50px 50px 0 0;
  }
}
.theme-dark header #bookducks-logo-header {
  background-image: url("../assets/logo/bookducks-logo-white.svg");
}
.theme-dark header #logout-btn {
  background-color: white;
}
.theme-dark header h1 {
  color: #f9c243;
}
.theme-dark header #show-reading-list {
  background-color: #1d1d1d;
  color: white;
  border-bottom: 2px solid #f9c243 !important;
  padding: 5px 15px !important;
  border-radius: 0 !important;
}
.theme-dark #sort-select {
  background-color: #1d1d1d;
  color: #f9c243;
  border: 1px solid rgba(250, 205, 100, 0.4039215686);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 1px !important;
}
.theme-dark .reading-list-wrapper {
  border: 1px solid transparent;
  border-radius: 25px;
}
.theme-dark strong.reading-list-title {
  color: #ffffff;
  letter-spacing: 0.16rem !important;
  font-weight: 350;
}
.theme-dark .book-title {
  color: #e7bb8d;
}
.theme-dark .book-card {
  background-image: linear-gradient(rgba(53, 53, 53, 0.545), #171717);
  border-radius: 6px;
}
.theme-dark .book-card #cover {
  box-shadow: 2px 3px 2px rgba(255, 255, 255, 0.9647058824);
}
.theme-dark .heart-btn {
  background-color: transparent;
}
.theme-dark footer {
  background-color: #191919;
  color: #f8f7e5;
}

.theme-neutral {
  color: #2a2a2a;
}
.theme-neutral #auth-modal-btn {
  background-color: #fdae0f;
  border: 2px solid black !important;
  box-shadow: 1px 1px 2px 0.3px rgb(55, 55, 55);
}
.theme-neutral #auth-modal-btn:hover {
  background-color: #53b7ab;
  color: #fff2d8;
}
.theme-neutral .modal {
  background-color: rgba(154, 154, 154, 0.6784313725);
}
.theme-neutral .modal-content {
  background-color: #d7d7d7;
  border: 1px rgba(254, 254, 254, 0.2392156863) solid !important;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.2392156863);
}
.theme-neutral .close {
  color: rgba(40, 40, 40, 0.968627451);
}
.theme-neutral #auth-tabs .tab {
  border: none;
  background: none;
  color: #a5a5a5;
}
.theme-neutral #auth-tabs .tab.active {
  color: #000000;
  border-bottom: 2px solid #242424;
}
.theme-neutral .auth-form button {
  background: #fbfbfb !important;
  color: #000000;
  transition: background 0.2s;
}
.theme-neutral .auth-form button:hover, .theme-neutral .auth-form button:focus {
  background: #616161 !important;
  color: #ffffff;
}
@media (min-width: 600px) {
  .theme-neutral {
    background-color: #f3d4dc;
  }
}
.theme-neutral .body-wrapper {
  background-color: #fad079;
  border: 1px solid black;
  border-bottom: none;
}
@media (min-width: 600px) {
  .theme-neutral .body-wrapper {
    margin-top: 50px;
    border-radius: 50px 50px 0 0;
  }
}
@media (min-width: 600px) {
  .theme-neutral header #header-neutral-theme .header-top {
    justify-content: space-around;
  }
}
.theme-neutral header body.neutral-theme #bookducks-logo-header {
  background-image: url("../assets/logo/bookducks-logo-black.svg");
}
.theme-neutral header #bookducks-logo-header {
  max-width: 170px;
  margin-top: 3rem;
  margin-left: 1rem;
}
@media (min-width: 600px) {
  .theme-neutral header #bookducks-logo-header {
    left: 12rem;
  }
}
.theme-neutral header #logout-btn {
  background-color: #fdae0f;
  border: 2px solid black !important;
  box-shadow: 1px 1px 2px 0.3px rgb(55, 55, 55);
  padding-bottom: 26px;
}
.theme-neutral header #logout-btn:hover {
  background-color: #53b7ab;
  color: #fff2d8;
}
.theme-neutral header h1 {
  color: #27a28f;
}
.theme-neutral header .show-reading-list-container #show-reading-list {
  background-color: #fbe1ae;
  border: 2px solid black !important;
  box-shadow: 1px 1px 2px 0.3px rgb(55, 55, 55);
}
.theme-neutral header .show-reading-list-container #show-reading-list:hover {
  background-color: #53b7ab;
  color: #fff2d8;
}
.theme-neutral .reading-list-h2 {
  border-radius: 8px 8px 0 0 !important;
  padding: 0.2rem 1rem;
}
.theme-neutral #sort-select {
  background-color: #8696ff;
  color: white;
  padding: 0.4rem;
  margin-bottom: 0;
  border-radius: 10px 10px 0 0 !important;
}
@media (min-width: 600px) {
  .theme-neutral #sort-select {
    border: #e6ccff solid 8px;
    border-bottom: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
}
.theme-neutral .reading-list-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1.5rem;
  padding: 1rem 0;
  scroll-padding: 0 1rem;
  overflow-y: hidden;
  background-color: #e6ccff;
  border-radius: 15px 15px 0 0;
}
.theme-neutral .reading-list-wrapper::-webkit-scrollbar {
  height: 10px;
}
.theme-neutral .reading-list-wrapper::-webkit-scrollbar-track {
  background: #5302f4;
}
.theme-neutral .reading-list-wrapper::-webkit-scrollbar-thumb {
  background-color: #ff0090;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}
.theme-neutral .book-card {
  background-color: #caf9ca;
  border: 2.5px solid #7b3abc;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1019607843);
}
.theme-neutral .book-card-content {
  border-color: #ccb9df;
}
.theme-neutral .heart-btn {
  background-color: transparent;
}
.theme-neutral footer {
  background-color: #65d7c9;
  color: #000000;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.modal-content {
  padding: 2rem 2rem 1.5rem 2rem;
  border-radius: 12px;
  position: relative;
  width: 100%;
  max-width: 350px;
  min-height: 369px;
}
@media (min-width: 600px) {
  .modal-content {
    max-width: 390px;
    min-height: 369px;
  }
}
@media (min-width: 1024px) {
  .modal-content {
    max-width: 500px;
    min-height: 370px;
  }
}

.close {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 2rem;
  cursor: pointer;
}

#auth-tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
#auth-tabs .tab {
  border: none;
  background: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

#auth-modal-btn {
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: background 0.2s;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.auth-form input, .auth-form button {
  padding: 0.6rem;
  border-radius: 5px;
  font-size: 1rem;
}
.auth-form button {
  font-weight: bold;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: background 0.2s;
}
.auth-form #login-submit {
  margin-top: 62px !important;
}
@media (min-width: 600px) {
  .auth-form #login-submit {
    margin-top: 62px !important;
  }
}
@media (min-width: 1024px) {
  .auth-form #login-submit {
    margin-top: 62px !important;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
  gap: 1rem;
}
header .header-top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  gap: 2rem;
}
@media (min-width: 600px) {
  header .header-top {
    justify-content: space-between;
    width: 80%;
  }
}
@media (min-width: 1024px) {
  header .header-top {
    justify-content: space-between;
    gap: 5rem;
  }
}
header #bookducks-logo-header {
  width: 170px;
  height: 100px;
  margin-top: 2rem;
  margin-left: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/logo/bookducks-logo-black.svg");
}
header #logout-btn {
  justify-self: flex-end;
  margin-top: 0.7rem;
  margin-right: 1rem;
  border-radius: 4px;
  padding: 4px 25px;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
  width: 90%;
  max-height: 30px;
}
@media (min-width: 600px) {
  header #logout-btn {
    justify-content: space-between;
    margin-top: 5rem;
    margin-right: 3rem;
    border-radius: 4px;
    padding: 4px 25px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Urbanist", sans-serif;
    cursor: pointer;
    width: 90%;
  }
}
@media (min-width: 1024px) {
  header #logout-btn {
    justify-content: space-between;
    margin-top: 5rem;
    margin-right: 3rem;
    border-radius: 4px;
    padding: 4px 25px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Urbanist", sans-serif;
    cursor: pointer;
    width: 90%;
  }
}
header .header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;
}
header .header-center h1#welcome-text {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem !important;
  font-weight: 900;
  margin-top: 1.5rem !important;
  margin-bottom: 2.5rem !important;
}
@media (min-width: 600px) {
  header .header-center h1#welcome-text {
    font-size: 2.5rem !important;
    font-family: "Urbanist", sans-serif;
  }
}
header .header-center .reading-list-h2 {
  margin-left: 1.5rem;
  font-family: "Nunito", sans-serif;
}
@media (min-width: 1024px) {
  header .header-center .reading-list-h2 {
    margin-left: 2.5rem;
  }
}
header .header-center .show-reading-list-container {
  display: flex;
  justify-content: flex-end !important;
  padding: 10px;
}
@media (max-width: 767px) {
  header .header-center .show-reading-list-container {
    width: 60%;
    top: 580px;
    left: 325px;
    text-align: center;
    z-index: 1000;
    border-radius: 8px;
    margin-bottom: 3rem !important;
  }
  header .header-center .show-reading-list-container #show-reading-list {
    font-size: 1.07rem !important;
    letter-spacing: 1px !important;
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
    padding: 4px 25px;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  header .header-center .show-reading-list-container {
    position: static;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
  }
  header .header-center .show-reading-list-container #show-reading-list {
    display: block;
    margin-top: 1rem;
    padding: 4px 25px;
    border-radius: 4px;
    font-family: "Nunito", sans-serif !important;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px !important;
    cursor: pointer;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 1rem;
  margin-top: auto;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 0.4px;
}

@media (min-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 100%;
    text-align: center;
    padding: 1.5rem 1rem;
    margin-top: auto;
    min-height: 120px;
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: 0.4px;
  }
  footer .footer-bottom {
    opacity: 0.7;
  }
}
@media (min-width: 1024) {
  footer {
    padding: 1.5rem 1rem;
    margin-top: auto;
    line-height: 1.4;
    max-width: 100%;
  }
  footer #bookducks-logo-footer {
    max-width: 170px;
  }
  footer .footer-bottom {
    opacity: 0.7;
  }
}
#book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  margin-top: 0.5rem !important;
  padding-top: 0.05rem;
  max-width: 1400px;
  width: 100%;
}
#book-list .reading-list-info {
  display: flex;
  flex-direction: column;
}

.book-card {
  flex: 0 0 260px;
  width: 100%;
  max-width: 286px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
  gap: 1rem;
}
.book-card img,
.book-card .cover {
  width: 180px !important;
  margin-bottom: 0.5rem;
}
.book-card .book-title {
  font-weight: bold;
  font-size: 13px;
}
.book-card .book-author {
  font-family: monospace;
  font-size: 0.7rem;
}
.book-card p,
.book-card span {
  font-size: 10px;
  text-align: left;
}
@media (min-width: 600px) {
  .book-card {
    flex-direction: row;
    justify-content: center;
    text-align: left;
    min-width: 312px;
    gap: 1rem;
    margin: 1rem;
  }
  .book-card img {
    width: 150px !important;
    height: auto;
    max-height: 227px;
  }
  .book-card .book-author {
    font-size: 0.875rem;
  }
}
@media (min-width: 1024px) {
  .book-card {
    margin: 1rem;
  }
  .book-card img {
    width: 150px;
    height: auto;
  }
}

.book-card-content {
  border: 2px solid;
  padding: 1rem;
  gap: 2rem;
  border-radius: 4px;
}
.book-card-content #cover {
  border-radius: 5px;
}
@media (min-width: 600px), (min-width: 1024px) {
  .book-card-content {
    min-height: 200px;
    display: flex;
    padding: 1.2rem;
    gap: 1rem;
    border-radius: 4px;
  }
  .book-card-content #cover {
    border-radius: 8px;
  }
}

.cover-wrapper {
  position: relative;
  display: inline-block;
}
.cover-wrapper img {
  display: block;
  width: 150px;
}
.cover-wrapper .cover-wrapper,
.cover-wrapper .heart-btn {
  position: absolute;
  bottom: 15px;
  right: 8px;
  background-color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.cover-wrapper .cover-wrapper .heart-icon,
.cover-wrapper .heart-btn .heart-icon {
  width: 18px !important;
  margin-top: 10px;
}
.cover-wrapper .cover-wrapper:hover,
.cover-wrapper .heart-btn:hover {
  transform: scale(1.1);
}
.cover-wrapper .cover-wrapper.remove-btn,
.cover-wrapper .heart-btn.remove-btn {
  background-color: white;
}
@media (min-width: 600px) {
  .cover-wrapper .cover-wrapper,
  .cover-wrapper .heart-btn {
    top: 186px;
  }
}

.reading-list-controls {
  display: flex;
  justify-content: space-between;
}

#sort-select {
  margin-right: 1rem;
}

.reading-list-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1.5rem;
  padding: 1rem 0;
  scroll-padding: 0 1rem;
  overflow-y: hidden;
}
.reading-list-wrapper::-webkit-scrollbar {
  height: 10px;
}
.reading-list-wrapper::-webkit-scrollbar-track {
  background: transparent;
}
.reading-list-wrapper::-webkit-scrollbar-thumb {
  background-color: #f9c243;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.reading-list-item {
  position: relative;
  flex: 0 0 auto;
  scroll-snap-align: start;
  border-radius: 10px;
  padding: 1.2rem 0.9rem;
}
.reading-list-item img, .reading-list-item #cover {
  height: 170px !important;
  border-radius: 2px;
}
.reading-list-item .reading-list-info {
  display: flex;
  flex-direction: column;
}
.reading-list-item .reading-list-item, .reading-list-item .heart-btn {
  position: absolute;
  left: 5.4rem;
  bottom: 4.5rem;
  z-index: 1;
  background-color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.reading-list-item .reading-list-item, .reading-list-item .heart-icon {
  width: 16px;
  margin-top: 2px;
}
.reading-list-item strong, .reading-list-item .reading-list-title {
  font-size: 11px;
  line-height: 0%;
}
@media (min-width: 768px) {
  .reading-list-item .reading-list-item, .reading-list-item .heart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 5.5rem !important;
    bottom: 2.8rem !important;
    width: 24px;
    height: 24px;
    z-index: 1;
    padding: 0.8rem !important;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  .reading-list-item .reading-list-item, .reading-list-item img .heart-icon {
    width: 16px;
    margin-top: 20px !important;
    top: 25rem !important;
  }
}
@media (min-width: 1024px) {
  .reading-list-item .reading-list-item, .reading-list-item .heart-btn {
    position: absolute;
    left: 5.3rem;
    bottom: 4.5rem;
    z-index: 1;
    background-color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  .reading-list-item .reading-list-item, .reading-list-item .heart-icon {
    top: 2rem;
    width: 16px;
    margin-top: 2px;
  }
}
