header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
  gap: 1rem;


  .header-top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    gap: 2rem;



  @media (min-width: 600px) {
    justify-content: space-between;
        width: 80%;


  }

  @media (min-width: 1024px) {
        justify-content: space-between;
            gap: 5rem;
  }


  }

  #bookducks-logo-header {
    width: 170px;
    height: 100px;
    margin-top: 2rem;
    margin-left: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    // default logotyp (fallback)
    background-image: url('../assets/logo/bookducks-logo-black.svg');


  @media (min-width: 600px) {}


      @media (min-width: 1024px) {}
  }



    #logout-btn {
      justify-self: flex-end;
      margin-top: 0.7rem;
      margin-right: 1rem;
      border-radius: 4px;
      padding: 4px 25px;

      font-size: 0.9rem;
      font-weight: bold;
      letter-spacing: 0.5px;
          cursor: pointer;

          width: 90%;
          max-height: 30px;



      @media (min-width: 600px) {
    justify-content: space-between;

          margin-top: 5rem;
      margin-right: 3rem;
      border-radius: 4px;
      padding: 4px 25px;

      font-size: 15px;
      font-weight: bold;
      font-family: 'Urbanist', sans-serif;
          cursor: pointer;

          width: 90%;


  }

      @media (min-width: 1024px) {
        justify-content: space-between;

              margin-top: 5rem;
      margin-right: 3rem;
      border-radius: 4px;
      padding: 4px 25px;

      font-size: 15px;
      font-weight: bold;
      font-family: 'Urbanist', sans-serif;
          cursor: pointer;

          width: 90%;
      }
    }


  .header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;

  h1#welcome-text {

    font-family: 'Nunito', sans-serif;

    font-size: 1.5rem !important;
    font-weight: 900;
    margin-top: 1.5rem !important;
    margin-bottom: 2.5rem !important;



    @media (min-width: 600px) {
        font-size: 2.5rem !important;
        font-family: 'Urbanist', sans-serif;


     }
}

.reading-list-h2{
  margin-left: 1.5rem;

    font-family: 'Nunito', sans-serif;

    @media (min-width: 1024px) {
        margin-left: 2.5rem;
  
    }
}

    .show-reading-list-container {


      display: flex;
      justify-content: flex-end !important;
      padding: 10px;

      @media (max-width: 767px) {

        width: 60%;
        top: 580px;
        left: 325px;
 
        text-align: center;
        z-index: 1000;
        border-radius: 8px;
        margin-bottom: 3rem !important;

        #show-reading-list {

          font-size: 1.07rem !important;
          letter-spacing: 1px !important;
          font-weight: bold;
          width: 100%;
          border-radius: 5px;
          padding: 4px 25px;

          cursor: pointer;
        }
      }

      @media (min-width: 768px) {
        position: static;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;

        #show-reading-list {
          display: block;
          margin-top: 1rem;
          padding: 4px 25px;
          border-radius: 4px;
          font-family: 'Nunito', sans-serif !important;
          font-weight: bold;
          font-size: 1.2rem;
          letter-spacing: 1px !important;

    
          cursor: pointer;

        }
      }
    }
  }
}


