

body{
    // background-color: whitesmoke;
    background-color: whitesmoke;
}


img{
    max-height: 300px;
    align-self: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2px;

}

h1 {
    color:#3f3f3f;
    // font-family: "Roboto";
    font-family: "Urbanist";
    font-weight: 900;
    letter-spacing: 0.1rem;
    font-size: 45px;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;    
    font-weight:400;
    margin-bottom: 1rem;
    color: #8d8d8d;

}

// #book-list{
//     display: flex;
//     flex-direction: column;
//     background-color: gainsboro;
//     margin: 5px;
//     padding: 5px;
// }

#book-list{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
  gap:1rem; 
  padding:1rem;
}

.book-card{
  display:flex;
  flex-direction:column;
//   background:#f9f9f9; 
  border-radius:6px;
  padding:1rem; 
//   box-shadow:0 2px 6px #b3b3b31a;
//   box-shadow:0 2px 6px #0000001a;
//   border: solid 2px  #0000001a;
//   height: 520px;
  

    p { 
            color: #9c9c9c;
            font-size: 0.8rem;
            
        }

    .title-author{
        max-width: 80%;

            p { 
            color: #9c9c9c;
        }
        
    }

    .pages-published {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
            p { 
            color: #9c9c9c;
            width: 100%;        
        }
    }



}




// .book-card-container {
//     display: flex;
//     flex-direction: column;
//     align-items: left;
//     width: 100%;

 

// }