

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0; top: 0; right: 0; bottom: 0;
    width: 100vw;
    height: 100vh;

}

.modal-content{
    padding: 2rem 2rem 1.5rem 2rem;
    border-radius: 12px;
    position: relative;
    width: 100%;
    max-width: 350px;
    min-height: 369px;



    @media (min-width: 600px) {    
                max-width: 390px;
                min-height: 369px;
            }
    @media (min-width: 1024px) {
          max-width: 500px;
          min-height: 370px;
    }
    
}

.close {
    position: absolute;
    top: 12px; right: 16px;
    font-size: 2rem;
    cursor: pointer;
}

#auth-tabs {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;

    .tab {
        border: none;
        background:none;
        padding: 0.5rem 1rem;
        font-weight: bold;
        cursor: pointer;
        border-bottom: 2px solid transparent;

    }
}
#auth-modal-btn{
        padding:  0.6rem 1.5rem;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;
        margin-top: 0.5rem;
        cursor: pointer;
        transition: background 0.2s;
}


.auth-form{
    display: flex;
    flex-direction: column;
        gap: 1rem;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    input, button  {
        padding: 0.6rem;
        border-radius: 5px;
        font-size: 1rem;
    }

    button{
        font-weight: bold;
        margin-top: 0.5rem;
        cursor: pointer;
        transition: background 0.2s;

    }

    #login-submit {

        margin-top: 62px !important;
        
        @media (min-width: 600px) {    
            margin-top: 62px !important;
        }

        @media (min-width: 1024px) {
            margin-top: 62px !important;
        }
    }
}