// _variables.scss
$gap: 1rem;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$body-max-width: 1200px;
$card-min-mobile: 140px;
$card-min-tablet: 180px;
$card-min-desktop: 200px



//   @media (min-width: 600px) {  
//     @media (min-width: 1024px) {